KAGGLE_USERNAME="YOUR_KAGGLE_USERNAME"
KAGGLE_KEY="YOUR_KAGGLE_KEY"

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=olist
POSTGRES_USER=olist
POSTGRES_PASSWORD=change_me
POSTGRES_SCHEMA=raw
POSTGRES_AUDIT_SCHEMA=pipeline_metadata

DBT_TARGET=postgres_dev
DBT_POSTGRES_SCHEMA=dbt_dev

BIGQUERY_PROJECT_ID=YOUR_GCP_PROJECT_ID
BIGQUERY_DBT_DATASET=olist_dbt_dev
BIGQUERY_LOCATION=EU
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json