# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment / virtualenv
.env
poetry.lock

# Data files
data/raw/
data/processed/

# Logs
logs/

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

notebooks/
